body{
    margin: 2rem auto;
    width: 90%;
    max-width: 700px;
}
h3{
    color: tomato;
}
.main-footer{
    text-align: center;
    border-top: 1px solid #000;
    padding-top: 2rem;
    margin-top: 2rem;

}
.navbar-nav .nav-link{
    color: green;
}
.navbar-nav .nav-link a:hover{
    color: darkgreen;
}